body {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

html {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 1440px;
    height: 134px;
    left: 0px;
    top: 0px;
    background: #EDF2EC;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1220px;
    height: 50px;
    left: 111px;
    top: 42px;
}

.nav {
    position: absolute;
    width: 452px;
    height: 50px;
    left: 879px;
    top: 42px;
}

.header_nav {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.logo {
    position: absolute;
    width: 79.17px;
    height: 21.04px;
    left: 111px;
    top: 52px;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.welcome {
    padding-top: 126px;
}

.welcome_title {
    max-width: 525px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: rgb(17, 49, 94);
    margin-bottom: 48px;
}
.welcome_subtitle {
    max-width: 525px;
    color: #010201;
    font-size: 16px;
    line-height: 24px;
}